* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 15px;
}

.qr-container {
  width: 300px;
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

.qr-container h1{
  font-weight: 700;
  font-size: 20px;
  color: hsl(218, 44%, 22%);
  margin-bottom: 10px;
}

.qr-container p {
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}

.qr-container img {
  width: 100%;
  height: auto;
  border-radius: inherit;
  margin-bottom: 10px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution {
  margin-top: 10px;
  font-size: 12px;
}

